- issuable = local_assigns.fetch(:issuable)

- return unless can?(current_user, :"admin_#{issuable.to_ability_name}", issuable.project)

- has_due_date = issuable.has_attribute?(:due_date)
- form = local_assigns.fetch(:form)

%hr
.row
  %div{ class: (has_due_date ? "col-lg-6" : "col-12") }
    .form-group.row.merge-request-assignee
      = render "shared/issuable/form/metadata_issuable_assignee", issuable: issuable, form: form, has_due_date: has_due_date
    .form-group.row.issue-milestone
      = form.label :milestone_id, "里程碑", class: "col-form-label #{has_due_date ? "col-md-2 col-lg-4" : "col-sm-2"}"
      .col-sm-10{ class: ("col-md-8" if has_due_date) }
        .issuable-form-select-holder
          = render "shared/issuable/milestone_dropdown", selected: issuable.milestone, name: "#{issuable.class.model_name.param_key}[milestone_id]", show_any: false, show_upcoming: false, show_started: false, extra_class: "js-issuable-form-dropdown js-dropdown-keep-input", dropdown_title: "选择里程碑"
    .form-group.row
      = form.label :label_ids, "标记", class: "col-form-label #{has_due_date ? "col-md-2 col-lg-4" : "col-sm-2"}"
      = form.hidden_field :label_ids, multiple: true, value: ''
      .col-sm-10{ class: "#{"col-md-8" if has_due_date}" }
        .issuable-form-select-holder
          = render "shared/issuable/label_dropdown", classes: ["js-issuable-form-dropdown"], selected: issuable.labels, data_options: { field_name: "#{issuable.class.model_name.param_key}[label_ids][]", show_any: false }, dropdown_title: "Select label"

    = render_if_exists "shared/issuable/form/weight", issuable: issuable, form: form

  - if has_due_date
    .col-lg-6
      .form-group.row
        = form.label :due_date, "截止日期", class: "col-form-label col-md-2 col-lg-4"
        .col-8
          .issuable-form-select-holder
            = form.text_field :due_date, id: "issuable-due-date", class: "datepicker form-control", placeholder: "选择截止日期", autocomplete: 'off'
